# Application Port
PORT=3000

# Mosquitto MQTT Broker
MQTT_BROKER_URL=mqtt://localhost:1883
MQTT_PORT=1883

# PostgreSQL Database
DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_USER=sih_user
DATABASE_PASSWORD=sih_password
DATABASE_NAME=sih_subsidence_db
